---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import ResearchSkills from '../components/ResearchSkills.astro';
import Projects from '../components/Projects.astro';
import History from '../components/History.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Yushin Takahashi - Portfolio">
  <Header />
  <main>
    <Hero />
    <ResearchSkills />
    <Projects />
    <History />
  </main>
  <Footer />
</Layout>